API_TOKEN = 
CLIENT_ID = 
GIGACHAT_CREDENTIALS=
BOT_TOKEN=

# --- ПРОКСИ ДЛЯ TELEGRAM БОТА ---
# Включить проксирование запросов Telegram (true/false)
USE_BOT_PROXY=false
# Список прокси через запятую. Формат: http://user:pass@host:port
# Используется первый из списка
BOT_PROXY_LIST=
